
<div class="hako">
    <div class="hako1">
        <span>あなたの髪型をおいらが決めるにゃー</span>
        <div class="frame">
            
        </div>
    </div>
    <div class="hako2">
        <a button href="/hear2s/show" type="button" class="btn btn-outline-success">ロング</a>
        <a href="/hears/show" type="button" class="btn btn-outline-danger">ショート</a>
        <a href="/hear3s/show" type="button" class="btn btn-outline-warning">独特ヘア</a>
    </div>
</div>